$white: #fff;
$main-gray: #dbdbdb;
@mixin square($w, $h: null) {
  width: $w;
  height: $h;
}

@mixin flex($procession, $wrap: nowrap) {
  display: flex;
  flex-flow: $procession $wrap;
}

.Join {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -49%);

  .main-view {
    @include flex(row);
    justify-content: center;
    text-align: center;

    .banner-image {
      position: relative;
      bottom: 12px;
    }
    .user-input {
      > .login {
        @include square(350px, 390px);
        border: 0.2px solid $main-gray;
        border-radius: 1px;
        background-color: $white;
      }
      .select-view {
        @include flex(row);
        justify-content: center;
        background-color: $white;
        border: 0.2px solid $main-gray;
        margin: 11px 0;
        padding: 24px;
        button {
          background: none;
          border: none;
          color: #00a2f8;
          font: {
            size: 14px;
            weight: 900;
          }
          font-size: 14px;
          font-weight: 900;
        }
      }
    }
  }

  .ad {
    div {
      @include flex(column);
    }
    .ad-image {
      @include flex(row);
      justify-content: center;

      img {
        border-radius: 5px;
        margin: 14px 4px;
        &:nth-child(1) {
          @include square(134px, 40px);
        }
        &:nth-child(2) {
          @include square(110px, 40px);
        }
      }
    }
  }

  .footer {
    margin: 5rem 0;
    ul {
      @include flex(row, wrap);
      justify-content: center;
      font-size: 12px;
      color: #8e8e8e;
    }

    li {
      margin: 10px 15px 0 0;
    }

    select {
      background: none;
      border: none;
      color: #8e8e8e;
    }
  }
}
