@mixin square($w: null, $h: null) {
  width: $w;
  height: $h;
}

@mixin flex($procession, $wrap: nowrap) {
  display: flex;
  flex-flow: $procession $wrap;
}

.login {
  .main-logo {
    margin: 47px 0 37px;
  }

  .inputlist {
    @include flex(column);
    margin: 0 41px;
    input {
      padding: 12px 0px 7px 8px;
      background-color: #fafafa;
      border: 0.1px solid #dddddd;
      border-radius: 2px;
      font-size: 12px;
      margin: 0 0 6px;
    }
  }

  .login-btn {
    margin: 8px;
    button {
      background-color: #4db5f9;
      border: none;
      color: white;
      @include square(268px, 32px);
      border-radius: 7px;
      font: {
        size: 14px;
        font-weight: 900;
      }
    }
  }

  .or {
    @include flex(row);
    flex-basis: 80%;
    align-items: center;
    margin: 0 0 8px 0;
    padding: 0 23px;
    color: #8e8e8e;
    font : {
      size: 13px;
      weight: 600;
    }

    &::before,
    &::after {
      content: "";
      flex-grow: 1;
      @include square(10px, 0.8px);
      margin: 20px 16px;
      background: #dbdbdb;
    }
  }

  .facebook-login-btn {
    button {
      background: none;
      border: none;
      color: #385185;
      font-weight: 900;
      margin: 0 0 20px;
    }
  }

  .forget-pw {
    a {
      font-size: 11px;
      color: black;
    }
  }
}
